.logo{
    width: 50px;
}

#rightSide{
    align-content: center;
}

.allAppointments, 
.scheduleAppointments, 
.completedAppointments, 
.pendingAppointments, 
.canceledAppointments {
    font-size: 15px;
    background-color: rgba(185, 185, 185, 0.356);
    padding: 8px 16px;
     border-radius: 25px;
}

.allAppointments.active, 
.scheduleAppointments.active, 
.completedAppointments.active, 
.pendingAppointments.active, 
.canceledAppointments.active {
    background-color: #2563EB;
    color: white;
}

@keyframes slideUp {
  from {
    transform: translateY(40px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

#appointmentModal {
    animation: slideUp 0.3s ease-in-out;   
}


