.logo{
    width: 50px;
}

#patientForm{
    display: flex;
    flex-direction: column;
}

#emptyPatient{
    margin-top: 100px;
}

@keyframes slideUp {
  from {
    transform: translateY(40px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideDown {
    from {
        transform: translateY(0px);
        opacity: 1;
    }
    to {
        transform: translateY(40px);
        opacity: 0;
    }
}

#patientFormModal{
    transition: display 0.3s allow-discrete,
    overlay 0.2s allow-discrete;
    
    animation: slideDown 0.3s forwards;
    &[open] {
        animation: slideUp 0.3s forwards;
    }   
}