body{
    /* Prevent FOUC */
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out;
}

.logo{
    width: 50px;
}

#rightSide{
    align-content: center;
}

.allAppointments, 
.scheduleAppointments, 
.completedAppointments, 
.pendingAppointments, 
.canceledAppointments {
    font-size: 15px;
    background-color: rgba(185, 185, 185, 0.356);
    padding: 8px 16px;
     border-radius: 25px;
}

.allAppointments.active, 
.scheduleAppointments.active, 
.completedAppointments.active, 
.pendingAppointments.active, 
.canceledAppointments.active {
    background-color: #2563EB;
    color: white;
}

@keyframes slideUp {
  from {
    transform: translateY(40px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideDown {
    from {
        transform: translateY(0px);
        opacity: 1;
    }
    to {
        transform: translateY(40px);
        opacity: 0;
    }
}

#appointmentModal, #confirmDeleteModal, #appointmentDetailsModal {
  transition: display 0.3s allow-discrete,
    overlay 0.2s allow-discrete;
    
    animation: slideDown 0.3s forwards;
    &[open] {
      animation: slideUp 0.3s forwards;
    }   
}


