* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

:root {
    --primary-color: #564b7a;
    --secondary-color: #8b8daf;
    --background-color: #f0f0f0;
    --text-color: #333333;
}

.logo {
    width: 100px;
    height: auto;
    padding-left: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

}

nav {
    display: grid;
    grid-template-rows: 0fr;
    text-align: center;
    max-height: 0;
    /* Nav is hidden */
    overflow: hidden;
    /* It covers the content when the nav is closed */
    transition: max-height 0.5s ease, opacity 0.7s ease;
    /* Animation */
    opacity: 0;
    /* It starts completely transparent */
    z-index: 1;
}

nav a {
    text-decoration: none;
    color: var(--text-color);
    padding: 15px 0;
    display: block;
    border-bottom: 1px solid #ddd;
}

nav.open {
    display: flex;
    flex-direction: column;
    max-height: 300px;
    /* Ajusta según el contenido máximo del menú */
    opacity: 1;
    /* Totalmente visible */
}

.currentElement {
    text-decoration: underline;
}

#menuButton {
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    padding: 20px;
    z-index: 2;
}

#menuButton::before {
    content: "\2630";
}

#menuButton.open::before {
    content: "\2715";
}

#signInButton {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100px;
    margin: 0 auto;
    margin-top: 10px;
}

#signInButton:hover {
    transition: 0.2s ease;
    background-color: var(--secondary-color);
}

h1 {
    font-size: 50px;
    margin-top: 20px;
    text-align: center;
}

h3 {
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    color: #333;
}


.faq-list {
    max-width: 800px;
    margin: 2rem auto;
    padding: 20px;
}

.faq-list details {
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 1rem;
    background: #fff;
    transition: box-shadow 0.2s;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.03);
    overflow: hidden;
}

.faq-list details[open] {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

.faq-list details .content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease;
}

.faq-list details[open] .content {
    max-height: 500px;
}

.faq-list summary {
    padding: 1rem;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    list-style: none;
    outline: none;
    border-bottom: 1px solid #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.faq-list summary::-webkit-details-marker {
    display: none;
}

.faq-list summary::after {
    content: ">";
    font-size: 1.2em;
    color: #888;
    transition: transform 0.2s;
}

.faq-list details[open] summary::after {
    transform: rotate(90deg);
}

.faq-list details p {
    padding: 1rem;
    margin: 0;
    color: #444;
    background: #fafafa;
    font-size: 0.98rem;
    line-height: 1.6;
}


footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--text-color);
    color: white;
    padding: 30px 0;
    margin-top: 30px;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.footerLogo {
    grid-column: 1;
    grid-row: 1;
    width: 80px;
    height: auto;
    animation: rotation 10s linear infinite;
    padding: 20px;
}

.copyright {
    grid-column: 1/3;
    grid-row: 2;
    text-align: center;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.legal-links {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 5px;
}

.legal-links a {
    color: #bbb;
    text-decoration: none;
    font-size: 0.9em;
    margin-top: 10px;
    transition: color 0.3s ease;
}

.legal-links a:hover {
    color: white;
}

.contact {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.contact a {
    color: #bbb;
    text-decoration: none;
    font-size: 0.9em;
    transition: color 0.3s ease;
}

.contact a:hover {
    color: white;
}

.socialMedia {
    grid-column: 1/3;
    grid-row: 1;
    text-align: center;
    align-content: center;

}

.socialMedia img {
    width: 30px;
    height: auto;
    margin: 10px;
    filter: invert(1);
}


/*Media Queries*/

@media screen and (min-width: 1000px) {

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
    }

    nav a:hover {
        transition: 0.2s ease;
        padding: 10px 15px;
        background-color: var(--secondary-color);
        color: white;
        border-radius: 5px;
    }

    #menuButton {
        display: none;
    }

    nav {
        max-height: none;
        opacity: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    nav ul {
        display: flex;
        gap: 20px;
        justify-content: center;
        align-items: center;
    }

    nav a {
        border: none;
        padding: 0 15px;
    }

    .signInContainer {
        margin-left: 20px;
        align-self: center;
    }

    #signInButton {
        width: auto;
        margin: 0;
    }

    html,
    body {
        scroll-behavior: smooth;
        overflow-x: hidden;
    }
}