/* Force Update 2 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    /* Prevent FOUC */
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out;
}

:root {
    --primary-color: #564b7a;
    --secondary-color: #8b8daf;
    --background-color: #f0f0f0;
    --text-color: #333333;
}

.logo {
    width: 100px;
    height: auto;
    padding-left: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

}

nav {
    display: grid;
    grid-template-rows: 0fr;
    text-align: center;
    max-height: 0;
    /* Nav is hidden */
    overflow: hidden;
    /* It covers the content when the nav is closed */
    transition: max-height 0.5s ease, opacity 0.7s ease;
    /* Animation */
    opacity: 0;
    /* It starts completely transparent */
    z-index: 1;
}

nav a {
    text-decoration: none;
    color: var(--text-color);
    padding: 15px 0;
    display: block;
    border-bottom: 1px solid #ddd;
}

nav.open {
    display: flex;
    flex-direction: column;
    max-height: 300px;
    /* Ajusta según el contenido máximo del menú */
    opacity: 1;
    /* Totalmente visible */
}

.currentElement {
    text-decoration: underline;
}

#menuButton {
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    padding: 20px;
    z-index: 2;
}

#menuButton::before {
    content: "\2630";
}

#menuButton.open::before {
    content: "\2715";
}

#signInButton {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100px;
    margin: 0 auto;
    margin-top: 10px;
}

#signInButton:hover {
    transition: 0.2s ease;
    background-color: var(--secondary-color);
}

main {
    text-align: center;
    max-width: 80%;
    margin: 0 auto;
}

.pricingTitle {
    font-weight: bold;
    margin: 40px 0;
    color: var(--text-color);
    line-height: 40px;
}

.freePlan,
.proPlan,
.professionalPlan {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 40px;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 360px;
    margin-top: 50px;
    background-image:
        radial-gradient(circle at 100% 100%,
            rgba(86, 75, 122, 0.05) 0%,
            transparent 50%),
        radial-gradient(circle at 0% 0%,
            rgba(139, 141, 175, 0.05) 0%,
            transparent 50%);
    background-size: 100% 100%;
    background-position: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.price {
    font-size: 32px;
    font-weight: bold;
    margin: 20px 0;
    color: var(--text-color);
}

.freePlan ul,
.proPlan ul,
.professionalPlan ul {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
    text-align: left;
    line-height: 30px;
    font-size: 16px;
}

.freePlan ul li,
.proPlan ul li,
.professionalPlan ul li {
    padding: 8px 0;
    position: relative;
    padding-left: 25px;
}

.freePlan ul li::before,
.proPlan ul li::before,
.professionalPlan ul li::before {
    content: '•';
    position: absolute;
    left: 0;
    color: var(--primary-color);
}

.freePlan button,
.proPlan button,
.professionalPlan button,
.trial-btn,
.instant-btn {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    width: 100%;
    transition: all 0.3s ease;
}

.plan-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.trial-btn {
    background-color: white;
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
}

.trial-btn:hover {
    background-color: var(--primary-color);
    color: white;
}

.freePlan button:hover,
.proPlan button:hover,
.professionalPlan button:hover,
.instant-btn:hover {
    background-color: var(--secondary-color);
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--text-color);
    color: white;
    padding: 30px 0;
    margin-top: 30px;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.footerLogo {
    grid-column: 1;
    grid-row: 1;
    width: 80px;
    height: auto;
    animation: rotation 10s linear infinite;
    padding: 20px;
}

.copyright {
    grid-column: 1/3;
    grid-row: 2;
    text-align: center;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.legal-links {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 5px;
}

.legal-links a {
    color: #bbb;
    text-decoration: none;
    font-size: 0.9em;
    margin-top: 10px;
    transition: color 0.3s ease;
}

.legal-links a:hover {
    color: white;
}

.contact {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.contact a {
    color: #bbb;
    text-decoration: none;
    font-size: 0.9em;
    transition: color 0.3s ease;
}

.contact a:hover {
    color: white;
}

.socialMedia {
    grid-column: 1/3;
    grid-row: 1;
    text-align: center;
    align-content: center;

}

.socialMedia img {
    width: 30px;
    height: auto;
    margin: 10px;
    filter: invert(1);
}

/*Media Queries*/

@media screen and (min-width: 900px) {
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 30px;
    }

    .pricingTitle {
        grid-column: 1/3;
    }

    .professionalPlan {
        grid-column: 1/3;
    }
}

@media screen and (min-width: 1000px) {

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
    }

    nav a:hover {
        transition: 0.2s ease;
        padding: 10px 15px;
        background-color: var(--secondary-color);
        color: white;
        border-radius: 5px;
    }

    #menuButton {
        display: none;
    }

    nav {
        max-height: none;
        opacity: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    nav ul {
        display: flex;
        gap: 20px;
        justify-content: center;
        align-items: center;
    }

    nav a {
        border: none;
        padding: 0 15px;
    }

    .signInContainer {
        margin-left: 20px;
        align-self: center;
    }

    #signInButton {
        width: auto;
        margin: 0;
    }

    main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
        grid-gap: 20px;

    }

    .pricingTitle {
        grid-column: 1/4;
    }

    .professionalPlan {
        grid-column: 3;
        grid-row: 2;
    }

    .freePlan,
    .proPlan,
    .professionalPlan {
        margin: 0 auto;
        grid-row: 2;
    }

    .footerLogo {
        width: 100px;
    }


    html,
    body {
        scroll-behavior: smooth;
        overflow-x: hidden;
    }
}