*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: "Roboto", sans-serif;
}

:root {
    --primary-color: #564b7a;
    --secondary-color: #8b8daf;
    --background-color: #f0f0f0;
    --text-color: #333333;
}

.logo {
    width: 100px;
    height: auto;
    padding-left: 20px;
}

h1{
    margin-top: 30px;
    text-align: center;
}

main{
    max-width: 500px;
    margin: 0 auto;    
    padding: 20px;
}

.signInForm {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    color: var(--text-color);
}

label{
    margin-top: 30px;
}

.formGroup {
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: relative;
}

.formGroup input {
    position: relative;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.togglePassword {
    position: absolute;
    top: 65px;
    right: 10px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.submitButton {
    margin-top: 30px;
    background-color: var(--primary-color);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
}

.submitButton:hover {
    background-color: var(--secondary-color);
}

.signInForm p{
    margin-top: 10px;
}